#slider {
  display: inline-flex;
  justify-content: space-around;
  overflow-x: hidden;
  width: 100%;
}

.item {
  transition: transform .25s;
}

img {
  height: 800px;
  margin: 1em;
}


.nav-button {
  z-index: 5;
  padding: 27% 0 0 0;
  height: 50%;
  width: 5%;
  border: 1px solid black;
  border-radius: 5%;
  text-align: center;
  position: fixed;
  opacity: 0.5;
  background-color: #909090;
}

.nav-button:hover {
  cursor: pointer;
}

#arrow-right {
  right: 10%;
}

#arrow-left {
  left: 10%;
}
